# systemd-networkd config to bring up can0 automatically
# (80-can.link sets tx queue size; this file sets bitrate and brings link up)
# install with:
#   sudo cp 80-can.* /etc/systemd/network/
#   sudo systemctl enable systemd-networkd
#   sudo systemctl restart systemd-networkd

[Match]
Name=can0

[CAN]
BitRate=250K
