[Unit]
Description=Trashbot driving

[Service]
WorkingDirectory=/home/pi/neotropolis
ExecStart=/home/pi/.local/bin/mise exec -- run_bot
Restart=always
RestartSec=1
RestartPreventExitStatus=42

[Install]
WantedBy=default.target
