# systemd-networkd config file to bring up can0 automatically
# https://www.pragmaticlinux.com/2021/07/automatically-bring-up-a-socketcan-interface-on-boot/
# install with:
#   sudo cp 80-can.network /etc/systemd/network/
#   sudo systemctl enable systemd-networkd
#   sudo systemctl restart systemd-networkd

[Match]
Name=can0

[CAN]
BitRate=250K
